<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.cs.marini_reflex" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReflexTesting"
            android:label="@string/title_activity_reflex_testing"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.marini_reflex.MainMenu" />
        </activity>
        <activity
            android:name=".GameBuzzer"
            android:label="@string/title_activity_game_buzzer"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.marini_reflex.MainMenu" />
        </activity>
        <activity
            android:name=".TwoPlayer"
            android:label="@string/title_activity_twoplayer"
            android:parentActivityName=".GameBuzzer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.marini_reflex.GameBuzzer" />
        </activity>
        <activity
            android:name=".ThreePlayer"
            android:label="@string/title_activity_threeplayer"
            android:parentActivityName=".GameBuzzer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.marini_reflex.GameBuzzer" />
        </activity>
        <activity
            android:name=".FourPlayer"
            android:label="@string/title_activity_fourplayer"
            android:parentActivityName=".GameBuzzer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.marini_reflex.GameBuzzer" />
        </activity>
        <activity
            android:name=".BuzzerResult"
            android:label="@string/title_activity_buzzer_result"
            android:parentActivityName=".TwoPlayer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TwoPlayer" />
        </activity>
        <activity
            android:name=".Statistics"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.marini_reflex.MainMenu" />
        </activity>
        <activity
            android:name=".Email"
            android:label="@string/title_activity_email"
            android:parentActivityName=".Statistics" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Statistics" />
        </activity>
    </application>

</manifest>
